<main class="flex-grow-1">
	<h1 class="text-center mt-4">Edit Article</h1>
	<div class="container">   
	<%= render 'layouts/messages' %>
	<%= render 'shared/errors' %>
	<%= render 'layouts/form' %>
</main>