/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');


html, body {
	font-family: 'Kadwa';
	background-color: #000000 !important;
  min-height: 100vh; 
	color:rgb(239, 239, 239)
}

.navbar {
	background-color: #131111;
	margin: 0;
	
		.nav-link {
				text-decoration: none;
				color: rgb(255, 255, 255);
				margin: 0 1em 0 1.5em;
		}
}

#hero_text {
    /* Thabang-Blog */
    position: absolute;
    height: 129px;
    left: calc(50% - 426px/2 - 32px);
    top: calc(50% - 129px/2 - 64.5px);
    
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 600;
    font-size: 3.5em;
    line-height: 128px;
    /* identical to box height */
    
    text-align: center;
    
    color:white;
}

/* Already have an account ? */

#hero_secondarytext {
    position: absolute;
    width: 310px;
    height: 40px;
    left: calc(50% - 310px/2 - 33.5px);
    top: calc(50% - 40px/2 + 28px);
    
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    
    color:white;
}

/* Ellipse 4 */

#ellipse4 {
    position: absolute;
    width: 87px;
    height: 72px;
    left: 32px;
    top: 274px;
    border-radius: 50%;
    background: rgba(77, 49, 17, 0.15);
}

/* Ellipse 1 */

#ellipse1 {
    position: absolute;
    width: 87px;
    height: 72px;
    left: 32px;
    top: 387px;
    border-radius: 50%;
    background: rgba(77, 49, 17, 0.15);
}

/* Ellipse 5 */

#ellipse5 {
    position: absolute;
    width: 87px;
    height: 72px;
    left: 32px;
    top: 512px;
    border-radius: 50%;
    background: rgba(77, 49, 17, 0.15);
}


/* Ellipse 6 */
#ellipse6 {
    position: absolute;
    width: 87px;
    height: 72px;
    left: 32px;
    top: 646px;
    border-radius: 50%;
    background: rgba(77, 49, 17, 0.15);
}

#form-control {
	background-color: #000000;
}

h1, h2 {
	color: white;
}

#button {
	margin-left: 11.2em;
}

#return-article {
	display: block;
	margin-left: 8.5em;
	margin-top: 1em;
	text-decoration: none;
	font-size: 1.4em;
	color:rgb(0, 0, 0);

			&:hover {
							color:rgb(56, 55, 55);
							font-weight: 400;
							}
}
#logo {
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 32pt;
}

footer {
	width: 100%;
	background-color: rgb(34, 33, 33);
 	color: rgb(239, 239, 239);
	text-align: center;
	padding: 3em;
}